// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.links {
    float: right;
}

.form-header {
    padding-bottom: 20px;
    overflow: hidden;
}

.action-buttons {
    margin: 0px;

    & > * {
        margin: 0 5px;
    }
}

.empty-table {
    text-align: center;
}
